.pytest_cache/*

benchmarks/jobs/*
.DS_Store
.idea/*
phc/*/.directional/*

# Dataset directories
benchmarks/dataset/CIFAR10/*
!benchmarks/dataset/CIFAR10/.gitkeep

benchmarks/dataset/MNIST/*
!benchmarks/dataset/MNIST/.gitkeep

benchmarks/dataset/ogbg_molhiv/*
!benchmarks/dataset/ogbg_molhiv/.gitkeep

benchmarks/dataset/ogbg_molpcba/*
!benchmarks/dataset/ogbg_molpcba/.gitkeep

benchmarks/dataset/ZINC/*
!benchmarks/dataset/ZINC/.gitkeep


# Experimental results directories
benchmarks/*/*/run.log

benchmarks/cifar10/*
!benchmarks/cifar10/.gitkeep

benchmarks/mnist/*
!benchmarks/mnist/.gitkeep

benchmarks/hiv/*/*/*
!benchmarks/hiv/.gitkeep
!benchmarks/hiv/experiment1/params.json
!benchmarks/hiv/experiment1/run_1/model.pt
!benchmarks/hiv/experiment1/run_1/val_test.json

benchmarks/pcba/*/*/*
!benchmarks/pcba/.gitkeep
!benchmarks/pcba/experiment1/params.json
!benchmarks/pcba/experiment1/run_1/model.pt
!benchmarks/pcba/experiment1/run_1/val_test.json

benchmarks/ppa/*
!benchmarks/ppa/.gitkeep

benchmarks/zinc/*/*/*
!benchmarks/zinc/.gitkeep
!benchmarks/zinc/experiment1/params.json
!benchmarks/zinc/experiment1/run_1/model.pt
!benchmarks/zinc/experiment1/run_1/val_test.json
